boto3
botocore
certifi
chardet
cycler
docutils
Flask
Flask-Cors
Flask-JWT
Flask-RESTful
Flask-SQLAlchemy
idna
jmespath
kiwisolver
matplotlib
mutagen
mysql
mysql-connector-python
mysqlclient
numpy
protobuf
PyAudio
pydub
pyparsing
python-dateutil
requests
s3transfer
scipy
SQLAlchemy
urllib3
uuid
wavio
uwsgi
